//--------project settings----------//
//breakpoints
$xll:1440px;
$xl:1100px;
$lg:992px;
$md:768px;
$sm:576px;
$xs:320px;

//-----body settings-----//
$color:#000;
$font-weight:400;
$min-width:320px;
$font-family: "Sfuid";

// color
$colorMain:#FD665E;
$secondary:#585858;

