%pos-rel {
	position: relative;
	top: 0;
	left: 0;
}

%pos-abs {
	position: absolute;
	top: 0;
	left: 0;
}

%flexCenter{
	display: flex;
	justify-content: center;
	align-items:center;
}


%container{
	//settings variable!!!
	$BrPoint1_1px:'#{$BrPoint1}px' - $number;
	$BrPoint2_1px:'#{$BrPoint2}px' - $number ;
	$BrPoint3_1px:'#{$BrPoint3}px' - $number ;
	$BrPoint4_1px:'#{$BrPoint4}px' - $number ;
	$BrPoint5_1px:'#{$BrPoint5}px' - $number ;
	$BrPoint6_1px:'#{$BrPoint6}px' - $number ;

	max-width:#{$BrPoint1}px;
	padding:$pgBrPoint1;
	margin: 0 auto;
	
	@media only screen and (#{$point}-width:#{$BrPoint1_1px}) {
		@if $BrPoint1 > $BrPoint2{
			$BrPoint1:$BrPoint2;
			max-width:#{$BrPoint1}px;
			padding:$pgBrPoint1;
			margin: 0 auto;
		}
		@else{
			max-width:#{$BrPoint1}px;
			padding:$pgBrPoint1;
			margin: 0 auto;
		}
	}
	
	@media only screen and (#{$point}-width:#{$BrPoint2_1px}) {
		@if $BrPoint2 > $BrPoint3 {
			$BrPoint2:$BrPoint3;
			max-width:#{$BrPoint2}px;
		}
		@else{
			max-width:#{$BrPoint2}px;
			padding:$pgBrPoint2;
		}
	}
	@media only screen and (#{$point}-width:#{$BrPoint3_1px}){
		@if $BrPoint2 > $BrPoint4 {
			$BrPoint3:$BrPoint4;
			max-width:#{$BrPoint3}px;
		}
		@else{
			max-width:#{$BrPoint3}px;
			padding:$pgBrPoint3;
		}
	}
	@media only screen and (#{$point}-width:#{$BrPoint4_1px}){
		@if $BrPoint4 > $BrPoint5 {
			$BrPoint4:$BrPoint5;
			max-width:#{$BrPoint4}px;
		}
		@else{
			max-width:#{$BrPoint4}px;
			padding:$pgBrPoint4;
		}
	}
	@media only screen and (#{$point}-width:#{$BrPoint5_1px}){
		@if $BrPoint5 > $BrPoint6 {
			$BrPoint5:$BrPoint6;
			max-width:#{$BrPoint5}px;
		}
		@else{
			max-width:#{$BrPoint5}px;
			padding:$pgBrPoint5;
		}
	}
	@media only screen and (#{$point}-width:#{$BrPoint6_1px}){
		padding:$pgBrPoint6;
		max-width:#{$BrPoint6}px;
	}
}

