<header class="header">
	<div class="container">
		<div class="header__row">
			<p>header</p>

			<img class="logo" src="#" alt="logo" >

			<nav class="header__menu">

				<ul class="header__list">
					<li class="header__items">
						<a href="#" class="header__link"></a>
					</li>

					<li class="header__items">
						<a href="#" class="header__link"></a>
					</li>

					<li class="header__items">
						<a href="#" class="header__link"></a>
					</li>

					<li class="header__items">
						<a href="#" class="header__link"></a>
					</li>

					<li class="header__items">
						<a href="#" class="header__link"></a>
					</li>

				</ul>
			</nav>

			<div class="header__socials socials">

				<a class="social__icon" href="#">
					<img src="#" alt="">
				</a>
				<a class="social__icon" href="#">
					<img src="#" alt="">
				</a>
				<a class="social__icon" href="#">
					<img src="#" alt="">
				</a>

			</div>

		</div> <!-- header__row -->
	</div> <!-- container -->
</header> <!-- header -->
