//--------project settings----------//
//breakpoints-different
$pointOne:none;
$pointtwo:none;
$pointfree:none;

//breakpoints-main
$pointMain:1600;
$xll:1400;// 1400
$xl:1200; // 1200
$lg:992;  // 992
$md:768;  // 768
$sm:576;  // 576
//mobile first or desktop
$point:'max';
//type media
$pointTarget:'only screen and';

//-----breakpoints padding-----//
$pgMain:0 100px;
$pgXll:0 50px;
$pgXl:0 30px;
$pgLg:0 30px;
$pgMd:0 15px;
$pgSm:0 5px;

//-----body settings-----//
$font-family:"Montserrat";
$font-weight:400;
$min-width:320px;

//------fonts-one------//
//path
$way-fonts: './../../assets/fonts/';
// name font
$font-family:'Montserrat'; 
 //type path name 
$Regular:'Montserrat-Regular';
$Medium:'Montserrat-Medium';
$SemiBold:'Montserrat-SemiBold';
$Bold:'Montserrat-Bold';
$ExtraBold:'Montserrat-ExtraBold';
//------fonts-two------//
// $name_two:'Montserrat';
// $Regular_two:'Montserrat-Regular';
// $Medium_two:'Montserrat-Medium';
// $SemiBold_two:'Montserrat-SemiBold';
// $Bold_two:'Montserrat-Bold';
// $ExtraBold_two:'Montserrat-ExtraBold';

//--------------------------------------//

//path img
$way-img: '../assets/images';

// color



