//--------project settings----------//
//breakpoints
$Breakpoints: (xs:320px, sm:576px, md:768px, lg:992px, xl:1200px,xll:1400px);

//-----body settings-----//
$color:#fff;
$font-weight:400;
$min-width:320px;
$font-family: "Sfuid";
//path img
$way-img: './../../../assets/images';

// color
$colorLink:#5286EC;
$colorSpan:#B3B3B3;
$colorMain:#FC9B09;


