<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="css/index.min.css")
	body

	<!--header-->
			include pug/_header.pug

	<!--content-->
			//- include pug/_findFood.pug

	<!--footer-->
			include pug/_footer.pug

	<!--js-->
			include pug/_js.pug

